<div class="card">
  <br>
  <span>
    <app-lazy-load-img style="float:left; margin-left: 18px;" [defaultImage]="'assets/images/personal.png'" [lazyLoadUrl]="otherAccount?.picture"></app-lazy-load-img>
    <h3 style="float:left; margin-left: 30px; margin-right: 80px; cursor: pointer;" [routerLink]="['/app/users',otherAccount?.username]">{{otherAccount?.firstName}} {{otherAccount?.lastName}}</h3>
    <button class="btn btn-large btn-outline-primary" (click)="confirmRequest()">Accept Request</button>
    <button style="margin-left: 10px;" class="btn btn-large btn-outline-primary" (click)="denyRequest()">Deny Request</button>
  </span>
  <br>
</div>
