/* You can add global styles to this file, and also import other style files */
h1 {
  color:#5E64A0;
}

.content {
  margin-left: 210px;
}
  
app-side-bar {
  margin-left: 1%;
  margin-top: 3%;
  float:left;
  padding:10px;
  width:210px;
}

.clickable {
  cursor: pointer;
}

.profile-image {
  height: 300px;
  width: 300px;
}