<h2 style="text-align: center; margin-top: 20px" *ngIf="noFriends">You have no friends!</h2>
<div class="card" *ngFor="let friend of friendList" [routerLink]="['/app/users',friend.username]">
  <br>
  <br>
  <app-lazy-load-img style="margin-left: auto; margin-right: auto;" [defaultImage]="'assets/images/personal.png'" [lazyLoadUrl]="friend.picture"></app-lazy-load-img>
  <hr>
  <h3 style="text-align: center;">{{friend.firstName}} {{friend.lastName}}</h3>
  <h5 style="text-align: center;">{{friend.username}}</h5>
</div>