<div class="container">
  <br>
  <h1>Welcome to OurStatus</h1>
  <a [routerLink]="['/login']">Login</a>
  <hr>
  <img src="assets/images/BigLogo.png">
  <p>
    OurStatus is a productivity app that combines task management and social media. The goal is to increase 
    productivity and make tasks more interesting by sharing your goals with your friends. You can create and manage 
    your own tasks, discover friends, and interact with others through their accomplishments.
  </p>
  <p>
    Our platform is on the web, iOS devices, and Android devices. We hope you create an account and try it out!
  </p>
</div>