<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div>
  <div class="comment" *ngFor="let comment of commentList">
    <hr>
    <app-lazy-load-img style="width: 50px; float: left;" [defaultImage]="'assets/images/personal.png'" [lazyLoadUrl]="authorIdMap[comment.authorId]?.picture"></app-lazy-load-img>
    <div style="margin-left: 60px;">
      <b [routerLink]="['/app/users',authorIdMap[comment.authorId]?.username]" style="cursor: pointer;">{{authorIdMap[comment.authorId]?.name}}</b>  {{comment.content}}
      <p style="font-style:italic; font-size:small; margin-top: 15px">{{ comment.date.toDate() | date}}, {{ comment.date.toDate() | date: 'shortTime'}}</p>
    </div>
  </div>
  <hr>
  <span>
    <input type="text" [(ngModel)]="commentText" placeholder="Write a comment...">
    <i class="fa fa-send-o" (click)="postComment()" [class.unsendable]="!commentText.length"></i>
  </span>
</div>
