<div class="modal-header">
	<h2 class="modal-title">Tasks for {{date.toDateString()}}</h2>
	<button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
		<span aria-hidden="true">&times;</span>
	</button>
</div>
<div class="modal-body">
	<app-task-list [taskList]="tasks" [calendar]="true" [emptyCalendar]="emptyCalendar"></app-task-list>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
</div>