<!DOCTYPE html>
<html>
  <body>
    <div class="container">
      <div class="col-md-7 mx-auto">
        <div class="card">
          <div class="card-body">
            <h1 class="card-title text-center">Create an Account</h1>
            <form #form="ngForm" (ngSubmit)="onSubmit(form)">
              <div class="row">
                <div class="form-group col-md-6 col-left">
                  <label for="first-name">First Name</label>
                  <input id="first-name" name="first-name" class="form-control" placeholder="First Name" 
                        [(ngModel)]="newAccount.firstName" required #firstNameField="ngModel"
                        [ngClass]="{'error': form.submitted && !firstNameField.valid && error}"/>
                </div>
                <div class="form-group col-md-6 col-right">
                  <label for="last-name">Last Name</label>
                  <input id="last-name" name="last-name" class="form-control" placeholder="Last Name" 
                        [(ngModel)]="newAccount.lastName" required #lastNameField="ngModel"
                        [ngClass]="{'error': form.submitted && !lastNameField.valid && error}"/>
                </div>
              </div>
              <div class="row">
                <div class="form-group col-md-6 col-left">
                  <label for="last-name">Email</label>
                  <input type="email" id="email" name="email" class="form-control" placeholder="Email" 
                        [(ngModel)]="newAccount.email" required #emailField="ngModel"
                        [ngClass]="{'error': form.submitted && !emailField.valid && error}"/>
                </div>
                <div class="form-group col-md-6 col-right">
                  <label for="username">Username</label>
                  <input id="username" name="username" class="form-control" placeholder="Username" 
                          [(ngModel)]="newAccount.username" required #usernameField="ngModel"
                          [ngClass]="{'error': form.submitted && !usernameField.valid && error}"/>
                </div>
              </div>
              <div class="row">
                <div class="form-group col-md-6 col-left">
                  <label for="password">Password</label>
                  <input type="password" id="password" name="password" class="form-control" 
                          [ngClass]="{'error': form.submitted && !passwordField.valid && error}"
                          placeholder="Password" [(ngModel)]="newAccount.password" required #passwordField="ngModel"/>
                </div>
                <div class="form-group col-md-6 col-right">
                  <label for="confirm-password">Confirm Password</label>
                  <input type="password" id="confirm-password" name="confirm-password" class="form-control" 
                          [ngClass]="{'error': form.submitted && !confirmPasswordField.valid && error}"
                          placeholder="Confirm Password" [(ngModel)]="confirmPassword" required #confirmPasswordField="ngModel"/>
                </div>
              </div>
              <button class="btn-lg btn-primary btn-block">Create account</button>
              <br>
              <div [hidden]="!error" class="alert alert-danger">{{ errorMessage }}</div>
              <a [routerLink]="['/login']">Back to login</a>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>