<div class="card">
  <div class="card-body">
    <ul>
      <img [src]="profilePic | async" class="avatar">
      <li style="font-size:0.95rem; font-weight: 400;" [routerLink]="['/app/profile']">{{username}}</li>
      <li [routerLink]="['/login']">Home</li>
      <li [routerLink]="['/app/tasks']">Tasks</li>
      <li [routerLink]="['/app/feed']">Feed</li>
      <li [routerLink]="['/app/search']">Search</li>
      <li [routerLink]="['/app/calendar']">Calendar</li>
      <li class="logout" (click)="onLogOut()">Log out</li>
    </ul>
  </div>
</div>