<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<hr>
<app-lazy-load-img style="width: 50px; float: left;" [defaultImage]="'assets/images/personal.png'" [lazyLoadUrl]="task.creatorPicture"></app-lazy-load-img>
<div style="margin-left: 60px;">
  <b class="clickable" [routerLink]="['/app/users',task.creatorUsername]">{{task.creatorName}}</b> has completed the task: {{task.title}}
  <br>
  <br>
  <i (click)="likeClicked()" [ngStyle]="{'color': task.likedUsers.includes(userId) ? 'red' : 'white'}" class="fa fa-heart" ></i>
  {{task.likes}}
  <i (click)="commentClicked()" class="fa fa-comment comment"></i>
</div>
<p style="font-style:italic; font-size:small; margin-top: 15px">{{ task.dateCompleted.toDate() | date}}, {{ task.dateCompleted.toDate() | date: 'shortTime'}}</p>
