.card {
  border: 0;
  border-radius: 1rem;
  margin-right: 4rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
  overflow:hidden; overflow-y:scroll;
  height:600px;
}

h2 {
  color: #486379;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding-bottom: 15px;
  background-color: white;
}