<br>
<br>
<button class="btn btn-large btn-outline-primary" *ngIf="!friendship">Request Friend</button>
<button class="btn btn-large btn-outline-primary" *ngIf="friendship&&!friendship.request">Remove Friend</button>
<button class="btn btn-large btn-outline-primary" *ngIf="friendship&&friendship.request&&friendship.actionUser!=userId">Confirm/Deny Request</button>
<button class="btn btn-large btn-outline-primary" *ngIf="friendship&&friendship.request&&friendship.actionUser==userId">Cancel Request</button>